#btn {
	padding:3px;
}

.buttonText {
	font: 18px/1.5 Helvetica, Arial, sans-serif;
	color: #fff;
	
	background: #CCC;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	font-size: 17px;
	height: 23px;
	width: 70px;
	/*	  margin: 50px 0 0 50px; */
	overflow: hidden;
	display: block;
	text-align: center;
	line-height: 22px;
	
	/*Скругленные углы*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 
	/*Тень*/
	-webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.8);
	 
	/*Градиент*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));	
	
}
	  
.buttonText1 {
	font: 18px/1.5 Helvetica, Arial, sans-serif;
	color: #fff;
	
	background: #CCC;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	font-size: 17px;
	height: 23px;
	width: 100px;
	/*	  margin: 50px 0 0 50px; */
	overflow: hidden;
	display: block;
	text-align: center;
	line-height: 22px;
	
	/*Скругленные углы*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 
	/*Тень*/
	-webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.8);
	 
	/*Градиент*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));	
	
}
	  
a {
  color: #fff;
  text-decoration: none;
  display:block;
}


#myFbtn {
	
	  background: #CCC;
	  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	  font-size: 22px;
	  height: 23px;
	  width: 23px;
/*	  margin: 50px 0 0 50px; */
	  overflow: hidden;
	  display: block;
	  text-align: center;
	  line-height: 58px;
	  
	/*Скругленные углы*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 
	/*Тень*/
	-webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.8);
	 
	/*Градиент*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));	  
	  
}

#myFbtn:hover {
	margin-top: 2px;
	/*Тень*/
	-webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
	/*Градиент*/
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	color: #CCC;
	}

.buttonText:hover {
	margin-top: 2px;
	/*Тень*/
	-webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
	/*Градиент*/
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	color: #CCC;
	}
	
.txt_btn {
	width:70px;
	height: 27px;
	padding-left: 2px;
}

.txt_btn1 {
	width:100px;
	height: 27px;
	padding-left: 2px;
}
	