<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.2, Culture=neutral, PublicKeyToken=1ca6b37997dd7536" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PacientNet.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="razorJSSettings" type="RazorJS.Configuration.RazorJSSettings, RazorJS" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
  </configSections>
  <connectionStrings>
    <add name="PgDataModelConnectionString" connectionString="metadata=res://*/PgDataModel.csdl|res://*/PgDataModel.ssdl|res://*/PgDataModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=asu;Password=asu;Host=192.168.1.11;Database=webtalonXtula;Unicode=True;Persist Security Info=True;Schema=mir&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PgFunctionModelConnectionString" connectionString="metadata=res://*/PgFunctionModel.csdl|res://*/PgFunctionModel.ssdl|res://*/PgFunctionModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=asu;Password=asu;Host=192.168.1.11;Database=webtalonXtula;Unicode=True;Persist Security Info=True;Schema=mir&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UserDevartPostgreConnectionString" connectionString="metadata=res://*/{0}.csdl|res://*/{0}.ssdl|res://*/{0}.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id={1};Password={2};Host=192.168.1.11;Database=test_for_operations;Unicode=True;Persist Security Info=True;Pooling=false;Schema=mir&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PGConnectionString" connectionString="Host =192.168.1.11; Database=test_for_operations; User ID=asu; Password=asu; Integrated Security=True;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGIN_PAGE" value="/Home/LogOn" />
    <add key="WebTitle" value="МИС ''Пациент.Net''" />
    <!--<add key="SignalRPath" value="" />-->
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <!--<add key="KladrOid" value="e8138612-f3e0-11e0-b310-cf83567118a1" />-->
    <!-- Россия, Амурская область, г. Белогорск -->
    <add key="KladrOid" value="a82e28b8-f3e5-11e0-b954-f3b43cff5aeb" />
    <!-- Россия, Свердловская область -->
    <add key="webtalonMainUrl" value="http://192.168.1.11:4657" />
    <add key="RegistryWindowRefreshPageIntervalInMilliseconds" value="5000" />
    <add key="ScheduleCountDoubleWeek" value="5" />
    <add key="UniDBConnectionString" value="Provider=PostgreSQL; Unicode=true; host=192.168.1.11; Database=test_for_operations; user=asu; password=asu" />
    <add key="CONNECTION_STRING_POSTGRESQL" value="User Id=asu;Password=asu;Host=192.168.1.11; Database=test_for_operations;Unicode=True;Persist Security Info=True;Schema=mir" />
    <add key="FireBirdDBConnectionString" value="data source=192.168.1.11; initial catalog=C:\Program Files (x86)\Medotrade\DataBase\UPLOADTOFOMS.FDB;user id=SYSDBA;password=masterkey;dialect=3;port number=3050" />
    <add key="ScheduleCellBlockTimeInSeconds" value="120" />
    <add key="RegWindowOnlineRespLoopIntervalInSeconds" value="5" />
    <add key="CheckLiveSchedule" value="True" />
    <add key="ShowChooseOtdelInCallCenter" value="True" />
    <add key="XmlRootPath" value="D:\Work\MedoTrade\Source\Xml\" />
    <!--Настройки для SMTP сервера -->
    <add key="SmtpHost" value="samozapis.ru" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpPassword" value="Qwazer00" />
    <add key="SmtpEmailFrom" value="noreply@samozapis.ru" />
    <add key="SmtpEmailTo" value="medotrade@yandex.ru" />
    <!--Настройка NewRelic -->
    <add key="NewRelic.AgentEnabled" value="true" />
    <add key="NewRelic.AppName" value="Pacient.Net" />
    <!--SAML -->
    <add key="EsiaiaUseSAMLAuth" value="false" />
    <add key="EsiaiaMisOid" value="553ddbbbdd40a" />
    <add key="EsiaiaCertificateSubjectName" value="ГБУЗ СО МИАЦ" />
    <add key="EsiaiaSAMLUrl" value="https://esiaia-test.rosminzdrav.ru/SAML_SSO" />
  </appSettings>
  <system.web>
    <!-- The request length is in kilobytes, execution timeout is in seconds  -->
    <httpRuntime maxRequestLength="153600" executionTimeout="1520" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.PivotGrid.v10.2.Core, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v10.2.Export, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraEditors.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxTreeList.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGridView.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v10.2.Web, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v10.2.Core, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGridView.v10.2.Export, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPrinting.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="FastReport.Web, Version=1.7.1.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="FastReport, Version=1.7.1.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Microsoft.Web.Samples" />
        <add namespace="Combres" />
        <add namespace="Combres.Mvc" />
      </namespaces>
    </pages>
    <membership defaultProvider="MembershipAuthProvider">
      <providers>
        <clear/>
        <add name="MembershipAuthProvider" type="PacientNet.Core.Infrastructure.Providers.CustomMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="PacientNet.Core.Infrastructure.Providers.CustomRoleProvider"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="CustomProfileProvider">
      <providers>
        <clear/>
        <add name="CustomProfileProvider" type="PacientNet.Core.Infrastructure.Providers.CustomProfileProvider"/>
      </providers>
      <properties>
        <add name="Oid" type="System.String" />
        <add name="Lastname" type="System.String" />
        <add name="Firstname" type="System.String" />
        <add name="Middlename" type="System.String" />
        <add name="Login" type="System.String" />
        <add name="Password" type="System.String" />
      </properties>
    </profile>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
      <add path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" />
      <add path="razorjs.axd" verb="GET" type="RazorJS.RazorJSHandler" />
    </httpHandlers>
    <globalization culture="ru-RU" uiCulture="ru" />
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
      <remove name="FastReportHandler" />
      <add name="FastReportHandler" path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" />
      <add name="RazorJSHandler" path="razorjs.axd" verb="GET" type="RazorJS.RazorJSHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins/temp" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="true" web="false" />
  <combres definitionUrl="~/App_Data/combres.xml" logProvider="Combres.Loggers.Log4NetLogger" />
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="Combres">
      <level value="ERROR" />
    </logger>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\PacientNet.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message %stackTrace%newline" />
      </layout>
    </appender>
  </log4net>
  <devExpress>
    <settings rightToLeft="false" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PacientNet.WebUI.Models.Diag.DSAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PacientNet.WebUI.Models.Diag.DS">
        <endpoint address="" behaviorConfiguration="PacientNet.WebUI.Models.Diag.DSAspNetAjaxBehavior" binding="webHttpBinding" contract="PacientNet.WebUI.Models.Diag.DS" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IXmlExchangeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://192.168.1.11:29689/XmlService/XmlExchangeService.svc"-->
      <endpoint address="http://192.168.1.11:5721/PatientXmlExchangeService/XmlExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXmlExchangeService" contract="XmlExchangeService.IXmlExchangeService" name="BasicHttpBinding_IXmlExchangeService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PacientNet.WebUI.Properties.Settings>
      <setting name="PacientNet_WebUI_XmlExchangeLocal_XmlExchangeServiceClass" serializeAs="String">
        <value>http://192.168.1.11:3754/XmlExchangeService.svc</value>
      </setting>
      <setting name="PacientNet_WebUI_ru_utk_miac_Nsi" serializeAs="String">
        <value>http://miac.utk.ru:7001/MedvedWeb/Nsi</value>
      </setting>
    </PacientNet.WebUI.Properties.Settings>
  </applicationSettings>
  <razorJSSettings handlerPath="~/razorjs.axd">
    <!-- If empty all paths are valid -->
    <allowedPaths>
      <add path="~/Scripts" />
    </allowedPaths>
  </razorJSSettings>
</configuration>