<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PgFunctionModelConnectionString" connectionString="metadata=res://*/PgFunctionModel.csdl|res://*/PgFunctionModel.ssdl|res://*/PgFunctionModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=!QAZ2wsx;Host=192.168.1.11;Database=webtalonXtula;Unicode=True;Persist Security Info=True;Schema=mir&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PgDataModelConnectionString" connectionString="metadata=res://*/PgDataModel.csdl|res://*/PgDataModel.ssdl|res://*/PgDataModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=asu;Password=asu;Host=127.0.0.1;Database=webtalonXtula;Unicode=True;Persist Security Info=True;Initial Schema=mir&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntitiesFB" connectionString="metadata=res://*/FbDataModel.csdl|res://*/FbDataModel.ssdl|res://*/FbDataModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;initial catalog=C:\database\UPLOADTOFOMS.FDB;data source=localhost;user id=Sysdba;password=masterkey&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FbDataModelContainer" connectionString="metadata=res://*/FbDataModel.csdl|res://*/FbDataModel.ssdl|res://*/FbDataModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;initial catalog=C:\database\UPLOADTOFOMS.FDB;data source=localhost;user id=Sysdba;password=masterkey&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>